<style type="text/css">
    .data-table {
        border-collapse: collapse;
        width: 100%;
        margin-bottom: 10px;
    }
    .data-table th {
        font-weight: bold;
        text-align: left;
        background-color: #e5e5e5;
        border: 1px solid #afafaf;
        padding: 5px 5px 5px 10px;
    }
    .data-table td {
        border: 1px solid #afafaf;
        padding: 10px 10px 10px 10px;
        vertical-align: top;
    }
    .header {
        width: 100%;
        background-color: #484848;
        padding: 5px;
        color: #ffffff;
        margin-bottom: 10px;
    }
    .header ul {
        list-style-type: none;
        margin-left: 0;
        padding-left: 5px;
    }
    .header ul li {
        margin: 10px 0;
    }
    .products th:last-child {
        text-align: right;
    }
    .products td:last-child {
        text-align: right;
    }
</style>
