<?xml version="1.0"?>

<config>
    <modules>
        <Swisspost_YellowCube>
            <version>1.0.0.2</version>
        </Swisspost_YellowCube>
    </modules>

    <global>
        <blocks>
            <swisspost_yellowcube>
                <class>Swisspost_YellowCube_Block</class>
            </swisspost_yellowcube>
        </blocks>
        <models>
            <swisspost_yellowcube>
                <class>Swisspost_YellowCube_Model</class>
            </swisspost_yellowcube>
        </models>
        <helpers>
            <swisspost_yellowcube>
                <class>Swisspost_YellowCube_Helper</class>
            </swisspost_yellowcube>
        </helpers>
        <resources>
            <swisspost_yellowcube_setup>
                <setup>
                    <module>Swisspost_YellowCube</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </swisspost_yellowcube_setup>
        </resources>
        <events>
            <catalog_product_attribute_update_before>
                <observers>
                    <catalog_product_yellowcube_sync>
                        <type>singleton</type>
                        <class>swisspost_yellowcube/observer</class>
                        <method>handleAttributeProductSave</method>
                    </catalog_product_yellowcube_sync>
                </observers>
            </catalog_product_attribute_update_before>
            <catalog_product_attribute_update_after>
                <observers>
                    <catalog_product_yellowcube_sync>
                        <type>singleton</type>
                        <class>swisspost_yellowcube/observer</class>
                        <method>handleAttributeProductSaveAfter</method>
                    </catalog_product_yellowcube_sync>
                </observers>
            </catalog_product_attribute_update_after>

            <catalog_product_save_before>
                <observers>
                    <catalog_product_yellowcube_sync>
                        <class>swisspost_yellowcube/observer</class>
                        <method>handleBeforeProductSave</method>
                    </catalog_product_yellowcube_sync>
                </observers>
            </catalog_product_save_before>
            <catalog_product_save_after>
                <observers>
                    <catalog_product_yellowcube_sync>
                        <class>swisspost_yellowcube/observer</class>
                        <method>handleProductSave</method>
                    </catalog_product_yellowcube_sync>
                </observers>
            </catalog_product_save_after>
            <catalog_product_delete_before>
                <observers>
                    <catalog_product_yellowcube_sync>
                        <class>swisspost_yellowcube/observer</class>
                        <method>handleProductDelete</method>
                    </catalog_product_yellowcube_sync>
                </observers>
            </catalog_product_delete_before>

            <sales_order_shipment_save_before>
                <observers>
                    <catalog_product_yellowcube_sync>
                        <class>swisspost_yellowcube/observer</class>
                        <method>handleShipmentSaveBefore</method>
                    </catalog_product_yellowcube_sync>
                </observers>
            </sales_order_shipment_save_before>

            <catalog_model_product_duplicate>
                <observers>
                    <catalog_product_duplicate_yellowcube>
                        <class>swisspost_yellowcube/observer</class>
                        <method>handleProductDuplicate</method>
                    </catalog_product_duplicate_yellowcube>
                </observers>
            </catalog_model_product_duplicate>

            <resource_get_tablename>
                <observers>
                    <swisspost_yellowcube_autoloader>
                        <type>singleton</type>
                        <class>swisspost_yellowcube/observer</class>
                        <method>addAutoloader</method>
                    </swisspost_yellowcube_autoloader>
                </observers>
            </resource_get_tablename>

            <add_spl_autoloader>
                <observers>
                    <swisspost_yellowcube_spl_autoloader>
                        <type>singleton</type>
                        <class>swisspost_yellowcube/observer</class>
                        <method>addAutoloader</method>
                    </swisspost_yellowcube_spl_autoloader>
                </observers>
            </add_spl_autoloader>
        </events>
        <carriers>
            <yellowcube>
                <dimension>
                    <uom>
                        <mtr translate="label" module="swisspost_yellowcube">
                            <label>Metre</label>
                        </mtr>
                        <cmt translate="label" module="swisspost_yellowcube">
                            <label>Centimetre</label>
                        </cmt>
                    </uom>
                </dimension>
                <ean>
                    <type>
                        <he translate="label" module="swisspost_yellowcube">
                            <label>HE</label>
                        </he>
                        <e5 translate="label" module="swisspost_yellowcube">
                            <label>E5</label>
                        </e5>
                        <ea translate="label" module="swisspost_yellowcube">
                            <label>EA</label>
                        </ea>
                        <hk translate="label" module="swisspost_yellowcube">
                            <label>HK</label>
                        </hk>
                        <i6 translate="label" module="swisspost_yellowcube">
                            <label>I6</label>
                        </i6>
                        <ic translate="label" module="swisspost_yellowcube">
                            <label>IC</label>
                        </ic>
                        <ie translate="label" module="swisspost_yellowcube">
                            <label>IE</label>
                        </ie>
                        <ik translate="label" module="swisspost_yellowcube">
                            <label>IK</label>
                        </ik>
                        <sa translate="label" module="swisspost_yellowcube">
                            <label>SA</label>
                        </sa>
                        <sg translate="label" module="swisspost_yellowcube">
                            <label>SG</label>
                        </sg>
                        <uc translate="label" module="swisspost_yellowcube">
                            <label>UC</label>
                        </uc>
                        <vc translate="label" module="swisspost_yellowcube">
                            <label>VC</label>
                        </vc>
                    </type>
                </ean>
                <methods>
                    <eco translate="label" module="swisspost_yellowcube">
                        <label>PostPac Economy</label>
                        <code>ECO</code>
                    </eco>
                    <eco_si translate="label" module="swisspost_yellowcube">
                        <label>PostPac Economy with Signature</label>
                        <code>ECO SI</code>
                        <real_code>ECO</real_code>
                        <additional>SI</additional>
                    </eco_si>
                    <pri translate="label" module="swisspost_yellowcube">
                        <label>PostPac Priority</label>
                        <code>PRI</code>
                    </pri>
                    <pri_si translate="label" module="swisspost_yellowcube">
                        <label>PostPac Priority with Signature</label>
                        <code>PRI SI</code>
                        <real_code>PRI</real_code>
                        <additional>SI</additional>
                    </pri_si>
                    <pri_si_azs translate="label" module="swisspost_yellowcube">
                        <label>PostPac Priority with Signature &amp; Evening delivery</label>
                        <code>PRI SIAZS</code>
                        <real_code>PRI</real_code>
                        <additional>SI;AZS</additional>
                    </pri_si_azs>
                    <pri_si_sa translate="label" module="swisspost_yellowcube">
                        <label>PostPac Priority with Signature &amp; Saturday delivery</label>
                        <code>PRI SISA</code>
                        <real_code>PRI</real_code>
                        <additional>SI;SA</additional>
                    </pri_si_sa>
                    <pickup translate="label" module="swisspost_yellowcube">
                        <label>Pickup in Oftringen</label>
                        <code>PICKUP</code>
                    </pickup>
                    <pickup_apost translate="label" module="swisspost_yellowcube">
                        <label>Pickup A-POST</label>
                        <code>PICKUP APOST</code>
                        <real_code>PICKUP</real_code>
                        <additional>APOST</additional>
                    </pickup_apost>
                    <pickup_intpri_gr translate="label" module="swisspost_yellowcube">
                        <label>Pickup International Priority Gross</label>
                        <code>PICKUP INTPRIGR</code>
                        <real_code>PICKUP</real_code>
                        <additional>INTPRI;GR</additional>
                    </pickup_intpri_gr>
                    <pickup_intpri_mx translate="label" module="swisspost_yellowcube">
                        <label>Pickup International Priority Maxi</label>
                        <code>PICKUP INTPRIMX</code>
                        <real_code>PICKUP</real_code>
                        <additional>INTPRI;MX</additional>
                    </pickup_intpri_mx>
                    <pickup_eco_gr translate="label" module="swisspost_yellowcube">
                        <label>Pickup International Priority Gross</label>
                        <code>PICKUP INTECOGR</code>
                        <real_code>PICKUP</real_code>
                        <additional>INTECO;GR</additional>
                    </pickup_eco_gr>
                    <pickup_eco_mx translate="label" module="swisspost_yellowcube">
                        <label>Pickup International Eco Maxi</label>
                        <code>PICKUP INTECOGR</code>
                        <real_code>PICKUP</real_code>
                        <additional>INTECO;MX</additional>
                    </pickup_eco_mx>

                    <sp_eco translate="label" module="swisspost_yellowcube">
                        <label>Bulky goods PostPac Economy</label>
                        <code>SP ECO</code>
                    </sp_eco>
                    <sp_pri translate="label" module="swisspost_yellowcube">
                        <label>Bulky goods PostPac Priority</label>
                        <code>SP PRI</code>
                    </sp_pri>
                    <ppr translate="label" module="swisspost_yellowcube">
                        <label>PostPac Promo</label>
                        <code>PPR</code>
                    </ppr>
                    <sem translate="label" module="swisspost_yellowcube">
                        <label>Swiss-Express Mond</label>
                        <code>SEM</code>
                    </sem>
                    <sp_sem translate="label" module="swisspost_yellowcube">
                        <label>Bulky goods Swiss-Express Mond</label>
                        <code>SP SEM</code>
                    </sp_sem>
                    <skb translate="label" module="swisspost_yellowcube">
                        <label>Swiss-Kurier Blitz</label>
                        <code>SKB</code>
                    </skb>
                    <sp_skb translate="label" module="swisspost_yellowcube">
                        <label>Bulky goods Swiss-Kurier Blitz</label>
                        <code>SP SKB</code>
                    </sp_skb>
                    <vl translate="label" module="swisspost_yellowcube">
                        <label>Vinolog</label>
                        <code>VL</code>
                    </vl>
                    <retoure translate="label" module="swisspost_yellowcube">
                        <label>Return Shipment</label>
                        <code>RETOURE</code>
                    </retoure>
                    <lkw_eco translate="label" module="swisspost_yellowcube">
                        <label>Flight/bulky goods Economy</label>
                        <code>LKW ECO</code>
                    </lkw_eco>
                    <lkw_prio translate="label" module="swisspost_yellowcube">
                        <label>Flight/small consignments Priority</label>
                        <code>LKW PRIO</code>
                    </lkw_prio>
                    <lkw_express translate="label" module="swisspost_yellowcube">
                        <label>Flight/small consignments Express</label>
                        <code>LKW EXPRESS</code>
                    </lkw_express>
                </methods>
            </yellowcube>
        </carriers>

        <template>
            <email>
                <system_admin_notification_email_template translate="label" module="swisspost_yellowcube">
                    <label>Admin Email Notification</label>
                    <file>swisspost/admin_message.html</file>
                    <type>text</type>
                </system_admin_notification_email_template>
            </email>
        </template>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <swisspost_yellowcube before="Mage_Adminhtml">Swisspost_YellowCube_Adminhtml</swisspost_yellowcube>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <swisspost_yellowcube>
                    <file>yellowcube.xml</file>
                </swisspost_yellowcube>
            </updates>
        </layout>
        <translate>
            <modules>
                <Swisspost_YellowCube>
                    <files>
                        <default>Swisspost_YellowCube.csv</default>
                    </files>
                </Swisspost_YellowCube>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <translate>
            <modules>
                <Swisspost_YellowCube>
                    <files>
                        <default>Swisspost_YellowCube.csv</default>
                    </files>
                </Swisspost_YellowCube>
            </modules>
        </translate>
    </frontend>
    <default>
        <carriers>
            <yellowcube>
                <active>0</active>
                <model>swisspost_yellowcube/shipping_carrier_rate</model>
                <title>SwissPost YellowCube</title>
                <tara_factor>0.95</tara_factor>
                <operation_mode>T</operation_mode>
            </yellowcube>
        </carriers>
        <system>
            <messages>
                <notification_email_template>system_admin_notification_email_template</notification_email_template>
            </messages>
        </system>
    </default>
    <crontab>
        <jobs>
            <yc_process_queue>
                <schedule>
                    <cron_expr>0 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>swisspost_yellowcube/queue_processor::process</model>
                </run>
            </yc_process_queue>
            <yc_war>
                <schedule>
                    <cron_expr>30 1 * * *</cron_expr>
                </schedule>
                <run>
                    <model>swisspost_yellowcube/observer::handleWar</model>
                </run>
            </yc_war>
            <yc_inventory_sync>
                <schedule>
                    <cron_expr>30 1 * * *</cron_expr>
                </schedule>
                <run>
                    <model>swisspost_yellowcube/observer::handleInventory</model>
                </run>
            </yc_inventory_sync>
        </jobs>
    </crontab>
</config>
