<?xml version="1.0"?>

<config>
    <sections>
        <carriers>
            <groups>
                <yellowcube translate="label" module="swisspost_yellowcube">
                    <label>SwissPost YellowCube</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>150</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <active translate="label">
                            <label>Enabled for Checkout</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </active>
                        <soap_url translate="label comment">
                            <label>URL to the Endpoint</label>
                            <comment>YellowCube SOAP EntryPoint</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>15</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </soap_url>
                        <sender_id translate="label">
                            <label>Sender ID</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </sender_id>
                        <depositor_number translate="label">
                            <label>Depositor Number</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </depositor_number>
                        <partner_number translate="label">
                            <label>Partner Number</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </partner_number>
                        <plant_id translate="label">
                            <label>Plant-ID</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </plant_id>
                        <certificate_path translate="label comment">
                            <label>Certificate Path and Filename</label>
                            <comment>For security reasons, the certificate should be placed outside of the webroot.</comment>
                            <backend_model>swisspost_yellowcube/shipping_carrier_source_certificate_path_backend</backend_model>
                            <frontend_type>text</frontend_type>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </certificate_path>
                        <certificate_password translate="label">
                            <label>Certificate Password</label>
                            <frontend_type>obscure</frontend_type>
                            <backend_model>adminhtml/system_config_backend_encrypted</backend_model>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </certificate_password>
                        <allowed_methods translate="label">
                            <label>Shipping Method</label>
                            <frontend_model>swisspost_yellowcube/adminhtml_form_field_methods</frontend_model>
                            <backend_model>swisspost_yellowcube/system_config_backend_methods</backend_model>
                            <sort_order>80</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <can_be_empty>1</can_be_empty>
                        </allowed_methods>
                        <tara_factor translate="label">
                            <label>Tara Factor</label>
                            <frontend_type>text</frontend_type>
                            <validate>validate-number validate-greater-than-zero</validate>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </tara_factor>
                        <operation_mode translate="label comment">
                            <label>Operation Mode</label>
                            <frontend_type>select</frontend_type>
                            <source_model>swisspost_yellowcube/shipping_carrier_source_operation</source_model>
                            <sort_order>110</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>In 'Production' mode the certificate is required.</comment>
                        </operation_mode>
                        <title translate="label">
                            <label>Title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>120</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </title>
                        <sallowspecific translate="label">
                            <label>Ship to Applicable Countries</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>130</sort_order>
                            <frontend_class>shipping-applicable-country</frontend_class>
                            <source_model>adminhtml/system_config_source_shipping_allspecificcountries</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </sallowspecific>
                        <specificcountry translate="label">
                            <label>Ship to Specific Countries</label>
                            <frontend_type>multiselect</frontend_type>
                            <sort_order>140</sort_order>
                            <source_model>adminhtml/system_config_source_country</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <can_be_empty>1</can_be_empty>
                        </specificcountry>
                        <debug translate="label">
                            <label>Debug</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>150</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </debug>
                        <yc_upload_data translate="button_label comment">
                            <label></label>
                            <comment>Send all product master data to YellowCube; only applies to products with the attribute "Sync with YellowCube" = Yes.</comment>
                            <button_label>Send All Product Data to YellowCube</button_label>
                            <frontend_model>swisspost_yellowcube/adminhtml_system_config_upload</frontend_model>
                            <sort_order>160</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </yc_upload_data>
                        <yc_download_data translate="button_label comment">
                            <label></label>
                            <button_label>Get Current Stock Data from YellowCube</button_label>
                            <frontend_model>swisspost_yellowcube/adminhtml_system_config_download</frontend_model>
                            <sort_order>170</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </yc_download_data>
                    </fields>
                </yellowcube>
            </groups>
        </carriers>
    </sections>
</config>
